/***Home***/

body {
    min-width: 601px;
    margin: auto;
  }
  
  p, 
  h1, 
  h2, 
  h3, 
  hr, 
  ul, 
  ol, 
  li {
    color: #1B203D;
  }

  a {
    text-decoration: none;
  }

  .button_home, .button_add_cart, .button_confirm, .button_continue {
    display: flex;
    border-radius: 25px;
    background: #1B203D;
    text-decoration: none;
    color: #F4F4F4;
    margin-top: 1em;
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }

  .button_home {
    width: 74px;
    height: 26px;
  }

  .button_add_cart {
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    width: 198px;
    height: 67px;
    margin-left: 20px;
    position: absolute;
    margin-top: 3em;
  }

  .button_confirm {
    width: 109px;
    height: 37px;
    margin-bottom: 5em;
    margin-left: 1em;
  }
  
  .button_continue {
    width: 150px;
    height: 40px;
    margin-bottom: 2em;
  }
  
  /*header*/

  header, footer {
    min-width: 601px;
    display: grid;
    background-color: #B6C0CB;
  }

  header {
    justify-content: center;
    width: auto;
    height: 80px;
  }
  

  .GameHub_Logo, .logo_footer {
    height: 49px;
    padding-left: 1rem;
  }

  .GameHub_Logo {
    margin: 20px 0 0 28em;
    position: absolute;
  }

  .search {
    position: absolute;
    margin: 4em 25em;
    width: 155px;
    height: 18px;
    border-radius: 50px;
    background: #F4F4F4;
    border-style: none;
  }

  .mobil-icons {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin: 25px 26em;
    gap: 25px;
    
  }
  
  .hamburger_icon {
    position: absolute;
    margin: 15px 3em;
    font-size: x-large;
  }
  
  nav,
  #menu-checkbox {
    display: none;
  }
  
  #menu-checkbox:checked ~ nav {
    display: block;
  }
  
  nav {
    position: absolute;
    background: #B6C0CB;
    left: 0px;
  }
  
  nav a {
    display: block;
    color: #1B203D;
    padding: 10px 20px;
    text-decoration: none;
  }

  i {
    color: #1B203D;
  }

  .navigaton_bar {
    display: flex;
    position: relative;
    margin-left: 60em;
    margin-top: -5em;
  }

  .icon_desktop, .icon_desktop2, .icon_desktop3 {
    position: absolute;
    margin-left: 2em;
  }
  .icon_desktop2 {
    margin-left: 116px;
  }

  .icon_desktop3 {
    margin-left: 185px;
  }


  .active {
    text-decoration: underline;
  }

  /*main home*/
  
  main {
    background-color: white;
  }
  
  .grey_background {
    background-color: #F4F4F4;
    width: 300px;
    height: auto
  }

  .title, .title_checkout, .title_checkout_info, .title_checkout_payment {
    text-align: center;
    text-decoration: underline overline;
    text-underline-position: below;
    padding: 2em 0;
    margin: auto;
  }

  .title_checkout, .title_checkout_info, .title_checkout_payment {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 3em 0;
  }
  
  .first_section {
    display: flex;
    justify-content: center;
    background-color: #1B203D;
    width: auto;
    height: 150px;
  }
  
  .section_content {
    margin-top: 1em;
    position: relative;
    text-align: center;
    font-size: medium;
    margin-right: 11em;
  }
  
  .content_text {
    color: #F4F4F4;
  }
  
  .pacman {
    position: absolute;
    height: 140px;
    padding-left: 16em;
    padding-top: 6px;
  }
  
  .cover {
    width: 128px;
    height: 165px;
    border-radius: 20%;
  }
  
  .pacman, 
  .GameHub_Logo, 
  .cover,
  .logo_checkout {
    width: auto;
  }
  
  /***Games home page***/
  
  .grid_container, .grid_checkout2 {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    margin: auto;
    grid-gap: 5em;
    justify-content: center;
  }

  .grid_container h3 {
    grid-column: -1/1;
  }

  .grid_container img {
    grid-row: 1;
    padding-top: 20px;
  }
  

  .container_item {
    display: grid;
    grid-template-rows: 12em 2em 2em;
    background-color: white;
    width: 240px;
    height: 300px;
    justify-content: center;
    border-radius: 15%;
  }

  .text_item_sale {
    display: flex;
    flex-direction: row;
    gap: 1em;
  }

  .container_item h3, a {
    grid-row: auto;
  }
  

  /*Games*/

  .small_title {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }

  .price_games {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
  }

  .sale {
    text-decoration: line-through;
    color: #E31D13;
  }
  
  /***Product***/

  .grid_product {
    display: grid;
    grid-template-rows: auto;
    margin: auto;
    justify-content: center;
  }

  .product_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2em 0 2em;
  }

  .text_storage {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    position: absolute;
    margin-left: 27px;
    margin-bottom: 7em;
  }

  .product_img_small, .product_img_shadow {
    height: 58px;
  }

  .product_img_shadow {
    filter: opacity(0.5);
  }
  
  .cover_product {
    height: 298px;
  }
  
  .product_img_small, 
  .product_img_shadow,
  .cover_product,
  .checkout_img,
  .contact-image {
    width: auto;
    border-radius: 15%;
  }

  .product_info, .product_info_about, .info_checkout {
    display: flex;
    flex-direction: column;
    background-color: white;
  }

  .product_info, .info_checkout {
    width: 240px;
    height: 300px;
    justify-content: center;
    text-align: center;
    border-radius: 15%;
  }
  
  .product_text {
    display: flex;
    flex-direction: column;
    width: 243px;
    align-items: center;
  }
  
  
  .product_text,
  .aboutus_text {
    height: auto;
  }

  .price_product {
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    text-decoration: underline;
    text-underline-position: under;
    position: relative;
    margin-right: 3em;
    margin-bottom: 6em;
  }

  .Continuing_text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    position: absolute;
    margin-top: 12em;
    margin-left: 50px;
  }
  
  
  /***Checkout***/

  .header_checkout {
    height: 448.277px;
    transform: rotate(-24.307deg);
    position: relative;
    z-index: 2;
    margin: -9em;
  }

  .logo_checkout {
    display: flex;
    margin-top: 11em;
    align-content: center;
    justify-content: center;
    transform: rotate(20deg);
  }
  
  .logo_checkout {
    height: 79px;
  }
  
  .checkout_img {
    height: 109px;
    position: absolute;
    margin-top: 1em;
    margin-left: 3em;
  }
 
  .contact-image {
    height: 108px;
    border-radius: 25%;
  }

  .grid_checkout {
    display: grid;
    margin: auto;
  }

  .checkout_total {
    position: relative;
    margin-left: 10em;
    text-wrap: nowrap;
  }

  .grid_checkout2 {
    margin: auto;
    grid-gap: 2em;
  }

  .shipping_container {
    margin-left: 2em;
    margin-top: -3em;
  }

  .shipping_info {
    width: 202px;
    height: 22px;
  }

  .icon_checkout_flex {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-left: 2em;
    margin-top: -2em;
  }

  .icon_checkout {
    height: 70px;
  }

  .shipping_info, .contact_form, .contact_form_text {
    display: flex;
    flex-direction: row;
    margin: 1em;
    border-radius: 50px;
    border-style: none;
  }

  /***Checkout Success***/


  .checkout_product {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  .checkout_grid {
    justify-items: center;
    padding-top: 2em;
  }

  /***About & Contact us***/

  .background_image_about {
    background-image: url(../assets/images/carl-raw-m3hn2Kn5Bns-unsplash6.jpg);
    background-repeat:repeat;
  }

  .product_info_about {
    width: 257px;
    padding-left: 1em;
  }

  .contact_form, .contact_form_text {
    width: 176px;
  }

  .contact_form {
    height: 22px;
  }

  .contact_form_text {
    height: 202px;
    border-radius: 25px;
    text-align: start;
  }

  .title_aboutus {

  }

  .text_aboutus {

  }

  .happy_gaming_text {

  }


  /***Footer**/

  footer {
    height: 105px;
  }

  .links_about {
    display: flex;
    position: absolute;
    flex-direction: column;
    margin: 1em 4em;
    gap: 1em;
    font-size: larger;
    font-weight: bold;
  }
  

  .logo_footer {
    position: relative;
    margin: 2em 15em;

  }

  .icons_footer {
    display: grid;
    grid-template-columns: repeat(2, 5em);
    position: absolute;
    margin: 7px 25em;
    font-weight: bold;
  }

  /***Media***/
  
  @media (min-width: 601px) {
  
    nav {
      display: block;
      position: static;
    }
  
    nav a {
      display: none;
    }
  
    .hamburger_icon {
      display: none;
    }

    .deskop-nav {
      display: inline-block;
      position: relative;
      margin: 1em 0 1em;
    }

    .mobil-icons {
      display: none;
    }
  
    header {
      min-width: 1440px;
      height: 162px;
    }


    .GameHub_Logo {
      height: 140px;
      margin-left: 0em;
      position: relative;
    }


    .search {
      width: 510px;
      height: 50px;
      margin-top: 6em;
      margin-left: 465px;
      margin-right: 465px;
    }
    
  
    body {
      max-width: 1450px;
    }


    .first_section {
      height: 428px;
      min-width: 1440px;
    }
  
    .pacman {
      height: 399px;
      padding-left: 30em;
    }

    .content_text {
      font-size: 65px;
      padding-right: 8em;
    }
  
    .grey_background {
      width: 1037px;
      margin-left: 200px;
      padding-bottom: 2em;
    }

    .title {
      font-size: 48px;
    }

    .title_checkout, .title_checkout_info, .title_checkout_payment {
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      position: absolute;
    }

    .title_checkout {
      margin-left: 29em;
      text-wrap: nowrap;
    }

    .title_checkout_info {
      margin-left: 5em;
      margin-top: -15em;
    }

    .title_checkout_payment {
      margin-left: 7em;
      margin-top: 4em;
    }

    .grid_container, .container_item {
      grid-template-columns: repeat(3, 1fr);
    }

    .grid_container {
      justify-content: center;
    }

    .grid_container_desk, .grid_container_game {
      display: grid;
      grid-gap: 0;
    }

    .grid_container_game {
      grid-gap: 1em;
    }

    .container_item {
      display: flex;
      width: 350px;
      height: 500px;
      flex-direction: column;
      margin-left: 5em;
    }

    .container_item_games {
      width: 288px;
      height: 468px;
      margin: 0px;
      margin-left: 2em;
    }


    .cover {
      height: 384px;
      width: 299px;
      margin-left: 25px;
      margin-bottom: 6em;
    }

    .cover_games {
      width: 236px;
      height: 303px;
      position: absolute;
      margin-bottom: 7em;
    }

    .small_title, .price_games, .sale {
      font-style: normal;
      position: absolute;
    }

    .small_title {
      font-size: 25px;
      font-weight: 400;
      margin-top: 12em;
      margin-left: 1em;
    }
  
    .price_games, .price_games_sale {
      font-size: 40px;
      font-weight: 600;
      margin-top: 11em;
      margin-left: 25px;
    }

    .price_games_sale {
      margin-left: 4em;

    }


    .sale {
      font-size: 36px;
      margin-top: 441px;
      margin-left: 25px;
    }


    .button_home {
      width: 119px;
      height: 35px;
      margin-left: 2em;
      position: absolute;
      margin-top: 28em;
    }

    .game_name {
      position: absolute;
      margin-top: 20em;
      margin-left: 2em;
    }

    .grid_product_checkout {
      display: grid;
      grid-template-columns: auto auto auto auto;
    }

    .flex_checkout {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .flex_checkout p {
      font-size: 35px;
      position: absolute;
      margin-top: 10em;
    }

    .product_info {
      width: 948px;
      height: 553px;
    }

    .grid_product {
      grid-template-columns: auto auto auto;
      padding-bottom: 2em;
    }

    .product_container {
      flex-direction: column;
      position: absolute;
      margin-left: 2em;
      margin-top: -2em;
      gap: 5px;
    }

    .cover_product {
      width: 464px;
      height: 596px;
      position: relative;
      margin-right: 5em;
    }

    .product_img_small, .product_img_shadow {
      width: 116px;
      height: auto;
    }

    .product_info {
      position: absolute;
      margin-left: 690px;
      width: 330px;
      height: 404px;
    }

    .info_checkout {
      width: 948px;
      height: 553px;
    }

    .button_add_cart {
      margin-left: 65px;
      font-size: 36px;
      position: absolute;
      margin-top: 3em;
    }

    .Continuing_text {
      font-size: 21px;
      position: absolute;
      margin-left: 74px;
      margin-top: 10em;
    }

    .product_text {
      width: 880px;
      height: 570px;
      display: block;
    }

    .price_product {
      font-size: 48px;
      position: absolute;
      margin-left: 1em;
      margin-bottom: 6em;
    }

    .text_storage {
      font-size: 16px;
      position: absolute;
      margin-left: 3em;
      margin-bottom: 10em;
    }

    .checkout_img {
      width: 140px;
      height: 180px;
      position: absolute;
      margin-left: 41em;
      margin-top: 10em;
    }

    .grid_checkout_desk {
      grid-template-rows: repeat(2,1fr);
    }

    .checkout_total {
      margin-left: 40em;
      margin-top: -1em;
      font-size: 21px;
    }

    .shipping_container {
      position: relative;
      margin-right: 33em;
      margin-top: -16em;
    }
  

    .shipping_info {
      width: 374px;
      height: 38px;
      font-size: 21px;
    }

    .icon_checkout_flex {
      display: flex;
      flex-direction: row;
      gap: 1em;
      margin-left: 5em;
      margin-top: 4em;
    }
  
    .icon_checkout {
      height: 70px;
    }

    .button_confirm {
      width: 139px;
      height: 47px;
      font-size: 21px;
    }

    .button_continue {
      width: 331px;
      height: 112px;
      font-size: 36px;
    }

    .info_checkout h1 {
      font-size: 48px;
      font-weight: 600;
    }

    .info_checkout h3, .grid_product {
      font-size: 32px;
      font-weight: 400;
    }

    .info_checkout p {
      font-size: 21px;
    }
    
    .background_image_about {
      background-image: url(../assets/images/carl-raw-m3hn2Kn5Bns-unsplash.jpg);
    }

    .product_info_about {
      border-radius: 50px;
      width: 880px;
      height: 1560px;
      border-radius: 50px;
      text-align: left;
      padding-top: 5em;
    }

    .title_aboutus {
      font-size: 23px;
    }
  
    .text_aboutus {
      font-size: 21px;
    }
  
    .happy_gaming_text {
      font-size: 25px;
    }
  
    .contact-image {
      height: 283;
    }


    footer {
      min-width: 1440px;
      height: 162px;
      margin-bottom: 2em;
    }

    .logo_footer {
      width: 181px;
      height: 114px;
      padding-left: 25em;
    }

    .links_about {
      flex-direction: row;
      gap: 3em;
      padding-top: 50px;
      padding-bottom: 50px;
      margin-left: 15em;
      font-size: 21px;
    }

    .icons_footer {
      display: flex;
      flex-direction: row;
      gap: 2em;
      padding-left: 33em;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    }

  