/***Home***/

body {
    min-width: 600px;
    margin: auto;
  }
  
  p, 
  h1, 
  h2, 
  h3, 
  hr, 
  ul, 
  ol, 
  li {
    color: #1B203D;
    @font-face {
      font-family: 'Roboto';
    } 
  }
  
  /*header*/

  header, footer {
    background-color: #B6C0CB;
  }

  header {
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    padding-top: 1rem;
    width: auto;
    height: 80px;
  }

  .GameHub_Logo {
    height: 49px;
    padding-left: 1rem;
  }

  .search {
    padding-top: 27px;
    padding-left: 2rem;
  }

  input {
    border-radius: 50px;
    border-style: none;
    width: 139px;
    height: 18px;
  }
  
  .flex-header {
    display: flex;
    justify-content: start;
    padding-left: 2rem;
    padding-top: 1rem;
  }
  
  nav,
  #menu-checkbox {
    display: none;
  }
  
  #menu-checkbox:checked ~ nav {
    display: block;
  }
  
  nav {
    position: absolute;
    background: #B6C0CB;
    left: 0px;
  }
  
  nav a {
    display: block;
    color: #1B203D;
    padding: 10px 20px;
    text-decoration: none;
  }

  i {
    color: #1B203D;
  }

  .active {
    text-decoration: underline;
  }

  /*main home*/
  
  main {
    background-color: white;
  }
  
  .grey_background {
    background-color: #F4F4F4;
    width: 300px;
    height: auto
  }

  .title {
    text-align: center;
    text-decoration: underline overline;
    padding-top: 2em;
    margin: auto;
  }
  
  .first_section {
    display: flex;
    justify-content: center;
    background-color: #1B203D;
    width: auto;
    height: 150px;
  }
  
  .section_content {
    text-align: center;
    padding-top: 25px;
    font-size: medium;
  }
  
  .content_text {
    color: #F4F4F4;
  }
  
  .pacman {
    height: 140px;
    padding-left: 1rem;
    padding-top: 6px;
  }
  
  .cover {
    height: 165px;
    border-radius: 15%;
  }
  
  .pacman, 
  .GameHub_Logo, 
  .cover,
  .logo_checkout {
    width: auto;
  }
  
  /***Games home page***/
  
  .grid_container {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    max-width: 1000px;
    margin: auto;
    grid-gap: 5em;
    justify-content: center;
  }

  .grid_container h3 {
    grid-column: -1/1;
  }

  .grid_container img {
    grid-row: 1;
    padding-top: 20px;
  }
  
  .container_item {
    display: grid;
    grid-template-rows: 1fr;
    background-color: white;
    width: 240px;
    height: 300px;
    justify-content: center;
    border-radius: 15%;
  } 

  .container_item h3, a {
    grid-row: auto;
    padding-bottom: 10px;
  }
  
  .sale {
    text-decoration: line-through;
    color: #E31D13;
  }

  /*Games*/


  
  /***Product***/
  
  .product_img_small, .product_img_shadow {
    height: 58px;
  }
  
  .cover_product {
    height: 298px;
  }
  
  .product_img_small, 
  .product_img_shadow,
  .cover_product,
  .checkout_img,
  .contact-image {
    width: auto;
    border-radius: 15%;
  }
  
  .product_text {
    width: 243px;
    text-align: center;
  }
  
  .aboutus_text {
    width: 236px;
  }
  
  .product_text,
  .aboutus_text {
    height: auto;
  }
  
  
  /***Checkout***/
  
  .logo_checkout {
    height: 79px;
  }
  
  .checkout_img {
    height: 109px;
  }
  
  .contact-image {
    height: 108px;
    border-radius: 25%;
  }
  
  /***Media***/
  
  @media (min-width: 600px) {
  
    nav {
      display: block;
      position: static;
    }
  
    nav a {
      display: none;
    }
  
    .hamburger_icon {
      display: none;
    }

    .deskop-nav {
      display: inline-block;
    }

    .mobil-icons {
      display: none;
    }
  
    header {
      height: 162px;
    }
  
    .cover {
      height: 384px;
    }
  
    body {
      max-width: 1450px;
    }

    .first_section {
      height: 428px;
    }
  
    .GameHub_Logo {
      height: 140px;
    }
  
    .pacman {
      height: 399px
      pad;
    }
  
    .grey_background {
      width: 1037px;
    }
  
    .contact-image {
      height: 283;
    }
  }